@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Black.woff2") format("woff2"), url("../font/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
.corpus {
  font-family: "Montserrat", sans-serif;
}

.actus {
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  font-size: 9px;
  margin: 0;
  padding: 0;
}

li {
  line-height: 30px;
}

.point {
  color: #e53dba;
  font-size: 32px;
}

.card {
  border-style: none;
}

.card-body {
  padding-left: 10px;
  color: white;
}
.card-body.card1, .card-body.card3 {
  background-color: #ffde51;
}
.card-body.card2 {
  background-color: #17cbde;
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
}

h3 {
  color: #e53dba;
}

h4 {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
}

p {
  font-size: 10px;
}

header {
  background-image: url("../images/background-home.jpg");
  height: 400px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 60%;
}

.copy {
  background-color: #17cadd;
  color: white;
  text-align: center;
  font-size: 10px;
  height: 30px;
}

.phrase {
  padding-top: 10px;
}

.lorem {
  font-size: 16px;
}

.breve {
  border-top-color: #E6E6E6;
}

/*# sourceMappingURL=site-test.css.map */
